<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">

        <!-- The Trusted Web Activity that launches the PWA -->
        <activity
            android:name="com.google.android.apps.chrome.trusted.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
                [!!-CRITICAL-!!] THIS IS WHY YOU ARE GETTING A 404 ERROR.
                You MUST replace "https://example.com" with the URL of your live website.
                For example: android:value="https://beautively-inked.com"
            -->
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://example.com" />

            <!--
                 This meta-data tag is used to specify a list of additional trusted origins.
                 (e.g., for OAuth providers).
            -->
            <!--
            <meta-data
                android:name="android.support.customtabs.trusted.ADDITIONAL_TRUSTED_ORIGINS"
                android:resource="@array/additional_trusted_origins" />
            -->
        </activity>

    </application>

</manifest>
